$board-bg-color: #fb9632;
$navbar-app-bg-color: #ffff;
$navbar-board-bg-color: #fb9632;
$list-bg-color: #ebecf0;
$app-main-color: #333;
$gap: 10px;
$column-header-height: 45px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 3px;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width: 375px)";
